.App {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

#quote-box {
  max-width: 800px;
  margin: 30px;
  padding: 2em;
  border-radius: 5px;

  -webkit-box-shadow: 4px 4px 25px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 25px -10px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 25px -10px rgba(0,0,0,0.75);
  background-color: #fff;
}

#text-wrapper {
  display: flex;
}

#text-wrapper #text {
  font-size: 2em;
  font-weight: 750;
  margin: 0;
  padding-left: 10px;
  text-justify: inter-word;
}

#text-wrapper #quote-icon {
  display: none;
}

#author {
  opacity: .5;
  margin-bottom: 30px;
}

#footer {
  display: flex;
}

#footer #new-quote {
  border: none;
  padding: 0.5em 1em;

  color: #fff;
  text-transform: uppercase;
  font-weight: bolder;
}

#footer #tweet-quote {
  margin-left: auto;
  margin-right: 5px;
}